:root {
  font-size: 19pt;
}
#chordSheetContent {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  align-content: flex-start;
  justify-content: start;
}
@media print {
  #chordSheetContent {
    transform: rotate(90deg);
    transform-origin: top left;
  }
}
#chordSheetContent * {
  box-sizing: border-box;
  width: 99mm;
}
#chordSheetContent section {
  display: contents;
}
h3 {
  break-after: avoid-column;
  break-after: avoid;
}
