:root {
  font-size: 19pt;
}
#chordSheetContent {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: start;
}
#chordSheetContent > section > *,
#chordSheetContent > :not(section) {
  transform: rotate(90deg);
  box-sizing: border-box;
  width: 99mm;
  page-break-inside: avoid;
}
#chordSheetContent section {
  display: contents;
}
h3 {
  break-after: avoid-column;
  break-after: avoid;
}
