:root {
    font-size: 19pt;
}

#chordSheetContent {
    // @media print {
    // transform-origin: top left;

    // };

    width: 100%;

    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: start;


    >section>*, >:not(section) {
        
    transform: rotate(90deg);
        // margin-right: 20px;
        box-sizing: border-box;
        width: 99mm;
        page-break-inside: avoid;
    }
    
    section {
        display: contents
    }
}

h3 {
    break-after: avoid-column;
    break-after: avoid;
}