@import '../../client/variables.import.less';
// Editor.jsx
// TODO: attach at jsx level?
#editor {
  display: flex;
  flex-direction: row;
  width  : 100%;
  height: 100%;
  flex: 1;
  * {
      overflow: scroll;
  }
  textarea {
      overflow: inherit;
      height: 100%;
      width: 100%;
  }
  .maxwidth( @width-s, {
    flex-direction: column;

    >* {
        width: 100% !important;
    }

    .first{
        order: 1;
    }
    .second{
        order: 2;
    }
    .small {
        // height: 100px;
        // height: unset;
        padding-top: 5px;
        padding-bottom: 5px;
        
        flex: 0.3 0 100px;

        .highlight {
            background-color: yellow;
        }

    }
    .large {
        flex: 1 1 90%;
    }
    .none {
        display: none;
    }
    .all {
        flex: 1 1 100%;
        order: 1;

    }
  });
}