@import (reference) "./variables.import.less";

#layout-toggler svg {
    #text {
        fill: var(--gray-light);
    }

    #pfeil {
        fill: var(--accent);
    }

    &:hover {
        #text {
            fill: var(--accent-flat);
        }

        #pfeil {
            fill: var(--gray-dark);
        }
    }

}

#theme-toggler svg {
    fill: var(--gray-light);

    &:hover {
        fill: var(--accent-flat);
    }
}

#scroll-toggler svg {
    fill: var(--gray-light);

    &:hover {
        fill: var(--accent-flat);
    }
}

#scroll-toggler.active svg {
    fill: var(--accent);
    &:hover {
        fill: var(--gray-dark);
    }
}

#pdfLink svg {
    fill  : var(--gray-light);
    stroke: none;

    &:hover {
        fill: var(--accent-flat);
    }
}

svg {
    #header {
        #titling {
            fill: var(--gray);
        }

        #swoosh {
            fill: var(--accent);
        }

        #swoosh-shadow {
            fill: black;
        }
    }
}

svg {
    #menu {
        fill: var(--gray-light);
    }
}