
@media print {
  aside, #transposer, .tags { display: none; }

  body {
    height: 210mm;
  }

  #app, #body {
    display: contents
  }

  #cordsheet {
    width: auto;
  }

  #cordsheetContent {

    columns: unset;
    column-width: unset!important;
    display: flex;

    * {
      box-sizing: border-box;
      width: 7cm;
    }
  }

  #head, h1, h2 {
    column-span: all;
  }
}
