@import (reference) "./responsive.import.less";

.st_page {

    .mobile {
        .not-phone-tablet({
            display: none;
        })
    }

    display        : grid;
    gap            : 10px;
    align-content  : center;
    justify-content: center;

    height: 100%;
    width : 100%;

    .phone-tablet({
        display: flex;
        flex-flow: row wrap ;
        align-content: stretch
        }

    );

    &#st_roomedit {

        grid-template-areas: 'selectedsongs availsongs'
            'nav nav'
        ;


    }

    &#st_roomview {

        grid-template-areas:
            'menu sheet'
            'selectedsongs sheet'
            'selectedsongs settings'
        ;

    }

    &#st_roomlobby {
        grid-template-areas:
            'menu'
            'rooms'
            'nav'
        ;
        overflow-y: scroll;
    }
}

#st_sheet {
    grid-area : sheet;
    overflow-y: scroll;

    .phone-tablet( {
            overflow: show;
        }

    )
}

#st_available {
    grid-area : availsongs;
    overflow-y: scroll;

    min-width: 450px;

    .phone-tablet( {
            overflow: visible;
            display: none;
            &.open {
                display: unset;
            }
        }

    )
}

#st_selected {
    grid-area: selectedsongs;

    min-width: 400px;

    ul {
        display      : flex;
        flex-flow    : column;
        align-items  : center;
        justify-items: start;

    }
    .phone-tablet( {
            display: none;
            &.open {
                display: unset;
            }
        }

    )
}

#st_caption {
    grid-area: settings;
}

#st_nav {
    grid-area: nav;
    min-width: 400px;
}



a.active {
    color: var(--accent);
}
