.pdfgrid {
    width : 100%;
    height: 100%;
    margin: 0;
}

@qb : 2px;
@qh : 30px;

#pdfsettings {
    background-color: var(--bg-list);
}


.pdfSettings {
    .quickinput svg {
        stroke-width: 2px;
        fill  : var(--text-sidebar);
        polygon:hover {
        fill  : var(--accent);
        }
    }
    svg {
        stroke: var(--text-sidebar);
        fill  : none;
        

        .fine {
            stroke-width: 1px;
        }

        .medium {
            stroke-width: 2px;
        }

        .bold {
            stroke-width: 4px;
        }
    }

    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    button {
        width: 170px;

        &.ud {
            width      : 15px;
            font-weight: bold;
            color      : var(--accent)
        }

        border-radius : 3px;
        height        : @qh;
        border        : var(--text-sidebar) solid @qb;

        &:hover {
            border: var(--accent) solid @qb;
            color : var(--accent);
        }

        margin         : 0 10px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 14px;
    }

    input[type='radio'] {
        display: none;

        &:checked+label {
            svg {
                stroke: var(--accent)
            }
        }
    }

    // --- NUMBER INPUTS --- //

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin            : 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type='number'] {
        -moz-appearance   : textfield;
        -webkit-appearance: textfield;
    }

    .settingTitle {
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 12px;
        margin-top    : 10px;
        color         : var(--text-sidebar)
    }

    .grid {
        display  : flex;
        flex-flow: column nowrap;

        .title {
            .settingTitle();
        }

        .setting {
            border         : var(--text-sidebar) solid 2px;
            border-radius  : 4px;
            display        : flex;
            flex-flow      : row wrap;
            justify-content: space-evenly;
            padding        : 10px;
            margin-bottom  : 10px;

            &.orientations {
                align-items: center;
            }

            &.columns {
                align-items: flex-start;
            }

            &.buttons {
                gap: 10px;
            }
        }
    }

    .fontsize {
        .settingTitle();

        margin: 0;

        display        : flex;
        flex-wrap      : nowrap;
        justify-content: space-between;

        >* {
            flex: 0.5
        }

    }
}

.quickinput {
    display    : flex;
    flex-wrap  : nowrap;
    align-items: flex-end;


}