.pdfgrid {
    width : 100%;
    height: 100%;
    margin: 0;
}

@qb : 2px;
@qh : 30px;


.pdfSettings {


    svg {
        stroke: var(--accent-flat);
        fill: none;

        .fine {
            stroke-width: 1px;
        }

        .medium {
            stroke-width: 2px;
        }
        .bold {
            stroke-width: 4px;
        }
    }

    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    button {
        width: 170px;

        &.ud {
            width      : 15px;
            font-weight: bold;
            color      : var(--accent-flat)
        }

        border-radius  : 3px;
        height         : @qh;
        border         : var(--accent-flat) solid @qb;
        margin         : 0 10px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 14px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin            : 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    margin-top: 2rem;

    input[type='radio'] {
        display: none;

        &:checked+label {
            // filter: drop-shadow(2px 2px 0.1rem var(--text-rev));
            svg {stroke: var(--text-rev) }
        }
    }

    input[type='number'] {
        -moz-appearance   : textfield;
        -webkit-appearance: textfield;

    }

    .grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-auto-flow: row;
        column-gap: 5px;

        .orientations {
            display: contents;
            label {
                justify-self: center;
                align-self: center;
            }
        }

        .columns {
            display: contents;
            label {
                justify-self: center;
                align-self: center;


            }
        }
    }

    .fontsize {
        display       : flex;
        flex-wrap     : nowrap;
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 12px;
        justify-content: space-between;

        >* {
            flex: 0.5
        }

    }
}

.quickinput {
    display    : flex;
    flex-wrap  : nowrap;
    align-items: flex-end;
}

.framed {

    @qw       : 40px;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    display        : flex;
    width          : @qw;
    height         : @qh;
    justify-content: center;
    align-items    : flex-start;
    position       : relative;
    z-index        : 2;
    border         : var(--accent-flat) solid @qb;

    input[type='number'] {
        width     : @qw;
        height    : @qh;
        text-align: center;
        margin    : 0px;
        margin-top: -2*@qb;
        outline   : none;
    }

    >span {
        display: contents;
    }

    &::before,
    &::after {
        position        : absolute;
        background-color: var(--bg-rev);
        z-index         : -1;
        content         : '';
        margin-top      : -@qb;
    }

    @duration: 0.3s;

    &::before {
        width     : @qw;
        height    : @qh - @qb;
        transition: height @duration ease @duration;
    }

    &::after {
        width     : @qw - 2*@qb;
        height    : @qh - @qb;
        transition: width @duration;
    }

    &&:focus-within {
        &::before {
            height    : 0;
            transition: height @duration;
        }

        &::after {
            width     : 0;
            transition: width @duration ease @duration;
        }
    }
}