.pdfgrid {
    width : 100%;
    height: 100%;
    margin: 0;
}


.pdfSettings {

    button {
        width: 30px;
        height: 20px;
        background-color: var(--accent-flat);
        border-color: var(--accent-flat);
        border-width: 5px;
        border-radius: 5px;
        padding: 0  5px;
        margin: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin            : 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    margin-top: 2rem;

    input[type='radio'] {
        visibility: hidden;
    }
    input[type='number'] {
        -moz-appearance   : textfield;
        -webkit-appearance: textfield;

        &:checked+label {
            filter: drop-shadow(0 0 0.6rem var(--text-rev))
        }
    }

    .table {
        display: table;

        >div {
            display: table-row;

            >input[type='number'] {
                display     : table-cell;
                width       : 30px;
                text-align  : center;
                margin: 2px 5px;
            }

            >label, >button {
                display: table-cell;
            }
        }
    }



}
